body {
  background: url("./../../assets/dark_bg.png");
  background-repeat: repeat-y;
  height: 100vh;
  background-blend-mode: darken;
}

.home-title {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
}

.modal-key-input {
  margin: 20px;
  font-weight: bold;
}

.result-section {
  /* overflow-y: scroll; */
}

.display-linebreak {
  white-space: pre-line;
}

.modal-header-logo {
  width: 200px;
  display: flex;
  clear: both;
  margin: 0 auto;
}

.address-input {
  margin-bottom: 10px;
}

.address-inputs {
  margin-bottom: 20px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}
.home-section-logo {
  margin-top: 20px;
  width: 250px;
}

.clear {
  clear: both;
}

.white {
  color: white !important;
}

.home-section-header a {
  color: lightgreen !important;
  text-decoration: underline !important;
}

a:hover {
  color: gray !important;
}

.home-container {
  margin: 0 auto;
}

.home-container .column {
  background: white;
}

.home-subtitle {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
